* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;

 scrollbar-color: transparent transparent;
  scrollbar-width: 0px;
}
 
html {
height: 100%;
width: 100%;
cursor: url('./ediaries.cur'), auto;
background-color: aliceblue;
}

body {
height: 91vh;
width: 98vw;
margin: 5px auto;
background-size: cover;
background-repeat: repeat;
background-color: lavenderblush;
border: 1.5px solid #a10606;
box-shadow: 3.3px 3.3px #a10606;
color: #a10606;
font-family: "Zalando Sans Expanded", sans-serif;
cursor: url('./ediaries.cur'), auto;
overflow: hidden;
padding: 5%;
}

/*
--------------------------------------------Fonts----------------------------------------------
*/


@font-face {
    font-family: "Homemade Apple";
    src: url('./Homemade_Apple/HomemadeApple-Regular.ttf') format("truetype");
    font-weight: normal;
    font-style: normal;

}


@font-face {
  font-family: "Zalando Sans Expanded";
  src: url('./Zalando_Sans_Expanded/ZalandoSansExpanded-VariableFont_wght.ttf') format("truetype");
}



/*
--------------------------------------------Fonts----------------------------------------------
*/


/*
--------------------------------------------Mobile----------------------------------------------
*/

.scroll {
display: none;

}

.mobile_about_screen {
display: none;

}

.podmobile {

display: none;

}


.substackmobile {

display: none;

}

.credit {

display: none;

}

.landscape_notice {

display: block;
color: #a10606;
font-family: courier;
}

.playgames {

display: none;

}




/*
--------------------------------------------Mobile----------------------------------------------
*/


a {

color: #A10606;
text-decoration: none;
display: none;
}

.centralimage {
width: 99vw;
text-align: center;
display: none;
}

.title {
width: 333px;
margin-top: 33vh;
color: #A10606;
font-size: 100px;
font-weight: lighter;
text-shadow: 0px 0px 48px purple;
box-shadow: 0px 0px 111px hotpink;
background-color: oldlace;
border: 5px double #a10606;
z-index: 4;
display: none;

}

.ornaments {


width: 189px;
height: 300px;
margin: auto;
display: none;

}

.eone {
position: fixed;
bottom: 17vh;
left: 8%;
z-index: 1;
box-shadow: 2px 2px 4px gray;
height: 300px;
width: 189px;
display: none;
}



.etwo {
position: fixed;
bottom: 15vh;
left: 7%;
z-index: 1;
transform: rotate(8deg);
height: 333px; 
width: 215px;
display: none;
}



.navigation {
position: fixed;
top: 1vh;
left: 7vh;
font-family: "Homemade Apple", cursive;
text-underline-offset: 4px;
display: none;
}

.nav {
color: #A10606;
font-size: 33px;
font-weight: bold;
margin-right: 77px;
text-decoration: underline;
text-decoration-thickness: 2px;
text-decoration-style: dashed;
display: none;
}


.nav:hover {

text-decoration-style: double;

}

.candle {
position: absolute;
right: 40.5%;
top: 7%;
z-index: 3;
display: none;

transform: scale(1);

    transition-property: transform;

    transition-duration: 400ms;

    &:hover {

        transform: scale(1.15);
}

}



.redheart {

position: fixed;
right: 33%;
top: 42%;
z-index: 0;

}


.confessions {

position: fixed;
font-size: 1.1rem;
top: 17%;
left: 2%;
width: 300px;
height: 180px;
border: 5px solid #a10606;
box-shadow: 2px 2px 5px gray;
padding: 1%;
color: #A10606;
background-color: rgb(251, 250, 227);
line-height: 110%;
text-align: justify;
font-weight: 200;
text-shadow: 1px 1px #A10606;
border-radius: 1%;
display: none;
}


.confess {

background-color: rgb(251, 250, 227);
border: 1px solid #A10606;
border-radius: 50%;
color: #A10606;
padding: 3px;
font-weight: bold;
text-shadow: none;
font-family: "Homemade Apple", cursive;
display: none;
}

.confess:hover {
border: 2px solid cornsilk;
}

.reviews_title {
display: none;
background-color: oldlace;
position: absolute;
right: 1%;
line-height: 1.4;
top: -13%;
border-radius: 50%;
padding: 1%;
border: 1px solid #a10606;
transform: rotate(6.6deg);
z-index: 5;
text-align: center;
color: rgb(251, 250, 227);
-webkit-text-stroke: 1px maroon;
text-shadow: 1px 1px black;
box-shadow: 2px 2px 5px gray;
font-weight: bold;
font-size: 29px;
}


.reviews_screen {
position: absolute;
font-size: 20px;
top: 20%;
right: 3%;
width: 26vw;
height: 55vh;
margin-left: 0vw;
margin-top: 0vh;
color: #A10606;
background-color: transparent
overflow: scroll;
line-height: 110%;
display: none;
}


.insta {
background-color: rgb(251, 250, 227);
position: fixed;
text-align: center;
bottom: 13%;
left: 30%;
color: maroon;
padding: 12px;
font-family: courier;
font-size: 16px;
z-index: 5;
box-shadow: 2px 2px 4px gray;
border: 0.5px dashed maroon;
display: none;
}

.insta:hover {
border: 2px inset lavenderblush;


}

.banner {
position: fixed;
left: 0%;
bottom: 0%;
color: #a10606;
font-weight: 200;
font-size: 44px;
margin-bottom: 1px;
display: none;
}


/*

----------------------------------------ABOUT PAGE---------------------------------------------

*/



html.about {
height: 100%;
width: 100%;
cursor: url('./ediaries.cur'), auto;
background-color: rgb(251, 250, 227);
}

body.about {
background-image: url('./assets-ediaries/legalpad2_cream.jpeg');
height: 98vh;
margin: 5px auto;
width: 99vw;
background-size: contain;
background-color: oldlace;
border: 3px dashed #a10606;
color: black;
font-family: "Zalando Sans Expanded", sans-serif;
overflow: hidden;
cursor: url('./ediaries.cur'), auto;
}

@keyframes float {
            0% {
                transform: translateY(0);
            }

            50% {
                transform: translateY(-20px);
            }

            100% {
                transform: translateY(0);
            }
        }


a {

color: #A10606;
text-decoration: none;
}

.dialogue {

width: 60vw;
height: 60vh;
margin: 20vh auto;
background-color: lightgray;
border: 4px outset;
box-shadow: 2px 2px 6px gray;
animation: float 3s ease-in-out infinite;

}



.titlebar {
width: 100%;
height: 5%;
background-color: midnightblue;
color: white;
font-family: monospace;
padding: 4px;
font-size: 16px;


}


.x {
width: 3.5%;
height: 5%;
background-color: red;
border: 4px outset red;
text-align: center;
color: white;
font-family: courier;
float: right;
}



.contents {

margin: auto;
height: 95%;
width: 98%;
background-color: aliceblue;
color: indigo;
padding: 13px;
font-size: 33px;
overflow: scroll;
font-family: courier new;
}

.lippy {


position: fixed;
top: 20%;
right: 11%;
transform: rotate(-5deg);
z-index: 2;
}

.lippy:hover {

opacity: 0%;
}


.pen {

position: fixed;
top: 44%;
left: 10%;
z-index: 2;
}


.pen:hover {

opacity: 0%;
}

.heart {


position: fixed;
bottom: 5%;
right: 3%;
z-index: 2;
}


/*

-------------------------------------BLOG + PODCAST PAGE----------------------------------------

*/

html.bp {
height: 100%;
width: 100%;
cursor: url('./ediaries.cur'), auto;
background-color: lavenderblush;
}

body.bp {
background-image: url('./assets-ediaries/legalpad2.jpeg');
height: 98vh;
margin: 5px auto;
width: 99vw;
background-size: contain;
background-color: rgb(251, 250, 227);
border: 3px dashed #a10606;
color: #a10606;
font-family: "Zalando Sans Expanded", sans-serif;
overflow: hidden;
cursor: url('./ediaries.cur'), auto;
}


a {

color: #a10606;
text-decoration: none;
}

.pod {

position: absolute;
right: 3.5%;
top: 44.4%;

}

.substack {
position: absolute;
top: 44.4%;
left: 3.5%;


}


.hearts1 {
position: fixed;
left: 27%;
bottom: 1%;


}

.hearts2 {
position: fixed;
left: 33%;
top: -12%;


}



.cta {
position: fixed;
left: 10.5%;
top: 17.5%;
width: 85%;
padding: 2%;
font-size: 33px;
background-color: aliceblue;
box-shadow: 4px 4px #a10606;
border: 1px solid;
text-align: center;
transform: rotate(-5deg);
color: #a10606;


}

/*

-------------------------------------BLOG + PODCAST PAGE----------------------------------------

*/

table {
font-size: 12px;
border-collapse: collapse;
display: none;

}

td {
border: 1px solid #af0000;
display: none;
}

.gamename {
box-shadow: 3.5px 3.5px maroon;
font-family: "Zalando Sans Expanded", sans-serif;
background-color: pink;
font-size: 33px;
text-align: center;
padding: 1%;
font-weight: bold;
color: #af0000;
width: 80vw;
margin: 4vh 11vw auto;
border: 3.5px solid #a10606;
font-style: italic;
display: none;
}

.carousel {
margin: 5vh auto;
top: 22vh;
max-height: 300px;
width: 400px;
overflow-x: scroll;
overflow-y: hidden;
white-space: nowrap;
scroll-behavior: smooth;
display: none;
}



.card {

height: 252px;
width: 400px;
display: inline;
display: none;

}

.links {
width: 98vw;
text-align: center;
position: absolute;
top: 75vh;
left: 1vh;
display: none;
}



.card_button {
color: black;
padding: 2.5%;
background-color: rgb(251, 250, 227);
border: 0.5px solid #af0000;
border-radius: 33%;
outline: 0.5px solid gray;
color: #af0000;
font-size: 0.8em;
line-height: 1.5;
display: none;
}

.card_button:active {
border: 2px silver;
display: none;

}

.instructions {
color: #a10606;
position: absolute;
background-color: pink;
width: 350px;
height: 450px;
left: 3%; 
top: 100vh;
box-shadow: 3px 3px #a10606;
border: 1px solid #a10606;
padding: 1%;
overflow: scroll;
transform: rotate(0deg);
display: none;
}

.generator {
position: absolute;
top: 170vh;
right: 2vh;
padding: 2%;
width: 300px;
height: 200px;
font-family: "Homemade Apple", cursive;
font-size: 22px;
box-shadow: 2.5px 2.5px black;
color: dimgray;
background-color: rgb(251, 250, 227);
display: none;
}

#number {
font-family: "Zalando Sans Expanded", sans-serif;
width: 50px;
height: 50px;
color: dimgray;
padding: 1%;
font-size: 33px;
text-align: center;
border: 3px double dimgray;
display: none;
}

.button {
position: absolute;
bottom: 10%;
background-color: transparent;
color: dimgray;
border-color: dimgray;
display: none;
}

.back {
position: absolute;
top: 200vh;
left: 3%;
padding: 1%;
color: dimgray;
background-image: linear-gradient(gainsboro, white, gainsboro);
outline: 0.5px solid dimgray;
border: 3px outset gainsboro;
font-size: 19px;
transform: rotate(0deg);
font-family: sans-serif;
font-weight: lighter;
display: none;
}


/*
Colors: 
burgundy: #a10606
red: #af0000
cream: #e4debc
wine: rgb(75, 37, 53);
cream paper: rgb(251, 250, 227);
cool pink paper: rgb(252, 237, 237);
*/